<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SQUAD KIT RESEARCH</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <div class="container shadow"
         style="max-width: 640px; margin: auto; margin-top: 2em; padding: 2em">
        <h4>SquadKitResearch API platform</h4>
        <h3>Access is currently closed.</h3>
        <a class="btn btn-success m-3" href="https://squadkitresearch.net">Check Out The Site!</a>
    </div>
</body>
</html>